@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
  background: rgba(255, 255, 255, 0.5); /* Fundo da barra de rolagem (transparente) */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.5); /* Cor de fundo da trilha (transparente) */
  border-radius: 10px; /* Bordas arredondadas da trilha */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #D99C52; /* Cor do "thumb" (parte que pode ser arrastada) */
  border-radius: 10px; /* Bordas arredondadas do "thumb" */
  margin: 2px; /* Adiciona espaço ao redor do "thumb" */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #a3782b; /* Cor do "thumb" ao passar o mouse */
}

/* Estilização da barra de rolagem para Firefox */
.scrollbar-custom {
  scrollbar-width: thin; /* Faz a barra de rolagem mais fina */
  scrollbar-color: #000000 rgba(241, 241, 241, 0.5); /* Cor do "thumb" e da trilha */
}

@media (max-width: 770px) {
  /* HEADER */
  .header-links {display: none;}
  .button-burguer {display: flex;}
  header {padding: 0px 10px;}
  /* FOOTER */
  footer {padding: 0% 10px;}

  /* LOGIN */
  .login-banner {position: absolute;height: 100%;width: 100%;z-index: -1;}
  .login-pai {justify-content: center;}
  .login-form {box-shadow: 3px 10px 100px 10px black;margin: 10px;padding: 20px 10px;border-radius: 8px;}
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
