.pai {
    background-color: white;
    color: black;
}

.block-um {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 100px 0px;
    justify-content: space-between;
}

.letreiros {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1{
    color:#1E1F4B;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 2px;
    line-height:95px;
}

.BARBER {
    color: #D99C52;
}

.letreiros span {
    color: #2E3E5C;
    font-size: 26px;
    margin: 40px 0px;
    max-width: 700px;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    background-color: #D99C52;
    padding: 10px 40px;
    align-items: center;
    display: flex;
    color: white;
    border-radius: 10px;
    margin-right: 80px;
}

.buttons span {
    font-size: 16px;
    max-width: 110px;
    margin-left: 10px;
}

.pai {
    background-color: white;
    color: black;
}

.block-um {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 100px 0px;
    justify-content: space-between;
}

.letreiros {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1{
    color:#1E1F4B;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 2px;
    line-height:95px;
}

.BARBER {
    color: #D99C52;
}

.letreiros span {
    color: #2E3E5C;
    font-size: 26px;
    margin: 40px 0px;
    max-width: 700px;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    background-color: #D99C52;
    padding: 10px 40px;
    align-items: center;
    display: flex;
    color: white;
    border-radius: 10px;
    margin-right: 80px;
}

.buttons span {
    font-size: 16px;
    max-width: 110px;
    margin-left: 10px;
}

.carrouselSectionMain {
    background-color: #1E1E1E;
}


.carrouselDiv {
    max-width: 1500px;
    align-items: center;
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: center;
}

.carrousel {
    display: flex;
    align-items: center;
    background: #D99C52;
    padding: 10px;
    margin:20px 0px;
    border-radius: 20px;

}

.aloha img {
    max-width: 185px;
    height: 185px;
    border-radius: 100px;
    object-fit: cover;
}



.next {
    margin-left: 10px;
}

.prev {
    margin-right: 10px;
}


.setas {
    max-width: 50px;
    display: flex;
    z-index: 2;
}

.dados-img{
    max-width: 180px;
    height: 180px;
    display: flex;
}

.dados {
    max-width: 400px;
}


.dados img {
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}